// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categoryDetails{
  ul{
    margin-left: -1em;
    float: left;
    li{
      list-style: none;
      float: left;
      width: 4em;
      overflow: hidden;
      margin-left: 2px;
    }
  }
}