<div class="state">
  Category: <%= link_to @category.name, @category %>
</div>
<div class="category">
  <ul>
    <% @category.subcategories.each do |subcategory| %>
      <% subcategory.products.each do |product|%>
      <li class="product">
        <div class="img">
          <%= link_to image_tag(product.image_url), product %>
        </div>
        <div class="title">
          <%= link_to product.title, product %>
        </div>
        <div class="price">
          <span class="price"><%= number_to_currency(product.price) %></span>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>  
</div>